// Flex styling
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify {
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
}
.items {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
  &-start {
    align-items: flex-start;
  }
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

// margin
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-right: auto;
}
.mt-auto {
  margin-right: auto;
}
.mb-auto {
  margin-right: auto;
}

// text size
.text-12 {
  font-size: rem(12);
}
.text-14 {
  font-size: rem(14);
}
.text-18 {
  font-size: rem(18);
}
.text-24 {
  font-size: rem(24);
}
.text-36 {
  font-size: rem(36);
}
.text-42 {
  font-size: rem(42);
}
.text-65 {
  font-size: rem(65);
}

// size
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
// Image styling

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Button styling

.btn-1 {
  font-size: 15px;
  cursor: pointer;
  padding: 0 rem(45);
  line-height: rem(60);
  text-align: center;
  outline: none;
  border: 1px solid $btn-primary-color;
  color: $btn-primary-color;
  background-color: $btn-primary-light-color;
  border-radius: rem(30);
  text-transform: uppercase;
}

// Input style

.disable-number-arrow {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  padding: rem(10) rem(15);
  width: 100%;
  resize: none;
  border: 1px solid #787878;
  border-radius: rem(3);
  outline: none;

  &:focus, &:focus-within {
    border-color: rgb(15, 124, 250);
  }

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Text style
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 500;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.first-capitalize {
  &:first-letter {
    text-transform: capitalize;
  }
}