$primary-color: black;
$primary-light-color: black;
$secondary-color: black;
$secondary-light-color: black;

$text-primary-color: black;
$text-primary-light-color: black;
$text-secondary-color: black;
$text-secondary-light-color: black;

$btn-primary-color: black;
$btn-primary-light-color: #fff;
$btn-secondary-color: black;
$btn-secondary-light-color: black;