$primary-color: #1F1F1F;
$primary-light-color: #292929;
$secondary-color: #00D25B;
$secondary-light-color: black;

$text-primary-color: #404040;
$text-primary-light-color: #b7b7b7;
$text-secondary-color: black;
$text-secondary-light-color: black;

$btn-primary-color: black;
$btn-primary-light-color: #fff;
$btn-secondary-color: black;
$btn-secondary-light-color: black;


$navbar-color: #1F1F1F;
$navbar-light-color: #292929;
$navbar-text-color: #E3E3E3;
$navbar-hover-color: #414141;
$navbar-active-color: #222222;


$text-color: #404040;


$background-color: #f2f2f2;


$card-color: #f8f8f8;

$input-background-color: #f8f8f8;